version: "3.2"
services:
  nodejs:
    build: 
      context: .
    image: app:latest
    networks:
      - backend
    volumes:
      - ./www/:/var/www/html/
    ports:
      - "51005:51005"
    container_name: bd-nodejs-app
  mysql:
    image: mysql:5.7
    networks:
      - backend
    environment:
      - MYSQL_ROOT_PASSWORD=SHRUT@2023
      - MYSQL_USER=root
      - MYSQL_PASSWORD=SHRUT@2023
      - MYSQL_DATABASE=backend_demo
    container_name: bd-mysql-app
  mongo:
    image: mongo:4.4.18
    networks:
      - backend
    expose:
      - "27017"
    ports:
      - 27017:27017
    container_name: bd-mongod-app
 
 
networks:
  backend
